<head>
  <meta charset="utf-8">
  <title>Neighborhood Heatmap</title>
  <meta name="description" content="Discover hot locations around your places">
  <meta name="author" content="Huy Vu">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" href="/dist/main.css" type="text/css">

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpOJyyGRCrVUg96sBIaQmRftxzRWRC31E"></script>

</head>
